/* Feature Headings */
.amadeus-icon { text-align: center; margin: 4px 0 4px 0; background-color: var(--cnvs-footer-bg, #cecece);
	width: fit-content; margin: 20px auto; padding: 8px 15px 8px 15px!important; }
#statistics .amadeus-icon { background-color: whitesmoke; }
h2.amadeus-icon { font-size: 120%; padding: 5px; }

/* TABLES */
table.headings-on-left th { text-align: right; }
table.headings-on-left td, .header th.left { text-align: left; }
table.headings-on-left .header { text-transform: uppercase; background-color: antiquewhite!important; }
table.autosize { width: min-content; }
.all-links-external a { background: transparent url(external-icon.png) no-repeat center right;
	padding-right: 40px; background-size: 30px; line-height: 40px; display: inline-block; }

/* LISTS */

.box-like-list ul { list-style-type: none; }
.box-like-list li { padding: 8px 0 8px 5px; }
.box-like-list li a { display: block; }
.box-like-list .selected { border: ridge darkgoldenrod 4px; padding: 8px 0 8px 0; border-style: ridge none ridge none; }

/* toolbar and containers */
div.toolbar { background-color: white; padding: 10px 20px 10px 20px!important; width: fit-content; border-radius: 15px; margin: 0 auto 15px auto; }

	/* EMBEDS */
.deck-container { padding: 10px; }
.deck-container iframe { width: 100%; height: 85vh; border-radius: 20px; }


	/* https://www.h3xed.com/web-development/how-to-make-a-responsive-100-width-youtube-iframe-embed */
.video-container { position: relative; width: 100%; height: 0; padding-bottom: 56.25%; margin-bottom: 20px; }
