/* MISC */
div.large-list {
	background-color: #fdfce3 !important;
}

.large-list.with-labels { background-color: #defafa!important; }

.large-list li {
	font-size: 125% !important;
	margin-bottom: 12px;
}

.with-labels label { width: 120px; display: inline-block; text-align: right; }
.with-labels li { list-style-type: none; margin-bottom: 4px; border-bottom: 1px solid lightgray; }
.with-labels a { font-size: 115%; font-weight: bold; }

.large-list ol,
.large-list ul {
	border: 2px solid #333;
	border-width: 2px 0 2px 0;
	padding: 10px 0 10px 0;
}

sup { padding: 2px 6px 2px 6px; background-color: #fcc3f9; border-radius: 35%; }

.amadeus-2x-icon {
	font-size: 36px;
	line-height: 54px;
	width: 54px;
	margin: 0 5px 5px 0;
	--cnvs-link-color: #fff;
}

textarea.full {
	width: 95%;
}

.amadeus-header-row {
	--bs-table-bg: #fdfbbe;
}

.navigated-to {
	--bs-table-bg: mistyrose;
}

abbr::after {
	content: ' ? ';
	background-color: #fcc3f9;
	border-radius: 50%;
	height: 1.5ex;
	display: inline-block;
	padding: .35ex;
	line-height: .7;
	margin-left: 8px;
}

.has-gemini-ai .prompt, .standout {
	background-color: var(--cnvs-themecolor, #bbb2f2)!important;
	color: #fff;
	font-size: 150% !important;
}

/* https://stackoverflow.com/a/26849367 */
.has-prompts {
	counter-reset: promptscount 0;
}

.prompt {
	counter-increment: promptscount 1;
}

.has-prompts .prompt:before {
	content: "Prompt #" counter(promptscount);
}

.prompt::before, .right-button {
	font-weight: bold;
	font-size: 125%;
	background-color: whitesmoke;
	color: #666;
	padding: 8px;
	border: cadetblue solid 2px;
	border-radius: 5px;
	float: right;
}

.btn-site:not(div.transparent .btn-site) {
	--bs-btn-bg: var(--cnvs-themecolor, #dcffff);
	--bs-btn-padding-y: .2rem;
	--bs-btn-line-height: 1.2;
}

footer .btn a.more-link:hover {
	animation: blinker 1s linear infinite;
}

.is-expanded-menu #header.transparent-header {
	--cnvs-header-bg: var(--cnvs-header-bg-override, white) !important;
}

.device-up-md {
	--cnvs-floating-btn-box-width: 700px;
}

/* https://stackoverflow.com/a/16344389 */
.blink {
	animation: blinker 1s linear infinite;
}

@keyframes blinker {
	50% {
		opacity: 0;
	}
}