/* Feature Headings */
.amadeus-icon { text-align: center; margin: 4px 0 4px 0; background-color: var(--amadeus-heading-bgd, #cecece);
	width: fit-content; margin: 20px auto; padding: 8px 15px 8px 15px!important; }
#statistics .amadeus-icon { background-color: whitesmoke; }
h2.amadeus-icon { font-size: 120%; padding: 5px; }

/* TABLES */
table.headings-on-left th { text-align: right; }
table.headings-on-left td, .header th.left { text-align: left; }
table.headings-on-left .header { text-transform: uppercase; background-color: antiquewhite!important; }
table.autosize { width: min-content; }
.all-links-external a { background: transparent url(external-icon.png) no-repeat center right;
	padding-right: 40px; background-size: 30px; line-height: 40px; display: inline-block; }

/* LISTS */

.box-like-list ul { list-style-type: none; }
.box-like-list li { padding: 8px 0 8px 5px; }
.box-like-list li a { display: block; }
.box-like-list .selected { border: ridge darkgoldenrod 4px; padding: 8px 0 8px 0; border-style: ridge none ridge none; }

/* toolbar and containers */
div.toolbar { background-color: white; padding: 10px 20px 10px 20px!important; width: fit-content; border-radius: 15px; margin: 0 auto 15px auto; }

	/* EMBEDS */
.deck-container { padding: 10px; }
.deck-container iframe { width: 100%; height: 85vh; border-radius: 20px; }

	/* https://www.h3xed.com/web-development/how-to-make-a-responsive-100-width-youtube-iframe-embed */
.video-container { position: relative; width: 100%; height: 0; padding-bottom: 56.25%; margin-bottom: 20px; }

blockquote.answer { background-color: #e2ffe0; }

/* IVIEWER */
.content-box blockquote, .content-box code { padding: 5px 0 5px 10px; font-size: inherit; }
.content-box blockquote { border: 1pt solid var(--cnvs-contrast-200, #aaa); border-left-width: 8px; }
.content-box blockquote p { margin: 4px 0 4px 0; }

pre:not(li pre), code:not(li code) { font-size: 110%; line-height: 2.5; border-left: none; padding: 10px; }
code.language-poem { background-color: var(--amadeus-poem-bgd, #cce); }

.content-box pre::before {
	font-weight: bold;
	font-size: 125%;
	background-color: white;
	color: #666;
	padding: 8px;
	border: cadetblue solid 2px;
	border-radius: 5px;
	float: right;
}

.content-box pre.language-sanskrit::before { content: "Sanskrit"; }
.content-box pre.language-sanskrit { background-color: #f9d9ce; }

.content-box pre.language-poetic-translation::before { content: "Poetic Translation"; }
.content-box pre.language-poetic-translation { background-color: #cef9ed; }

.content-box pre.language-inner-meaning::before { content: "Inner Meaning"; }
.content-box pre.language-inner-meaning { background-color: #d1f9ce; }

/* IVIEWER Ends */
